@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h2>Our active tour routes</h2>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">City</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Day/Night</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Capacity</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var description in Model)
                                {
                                    <tr class="text-center">
                                        <td>
                                            <p class="text-xs text-secondary mb-0">@description.DestinationId</p>
                                        </td>
                                        <td>
                                            <p class="text-xs text-secondary mb-0">@description.CityName</p>
                                        </td>
                                        <td>
                                            <p class="text-xs text-secondary mb-0">@description.DayNight</p>
                                        </td>
                                        <td>
                                            <span class="text-xs text-secondary mb-0">@description.Capacity</span>
                                        </td>
                                        <td>
                                            <span class="text-xs text-secondary mb-0">@description.Price $</span>
                                        </td>

                                        <td class="">
                                            <a href="javascript:;" class="btn btn-primary btn-sm mb-0 text-black-50 font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Details
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


