@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Reservation</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    @Html.Label("Destination")
                    @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Person Count")
                    <input type="number" asp-for="PersonCount" class="form-control" />
                </div>
                <div class="form-group">
                    @Html.Label("Reservation Date")
                    <input type="date" asp-for="ReservationDate" class="form-control" />
                </div>
                <div class="form-group">
                    @Html.Label("If any you want to add")
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-danger" onclick="alert('Your reservation will be initially pending confirmation. Do not forget to follow my current reservations menu for the reservation confirmation process.Your reservation will be initially pending confirmation. Do not forget to follow my current reservations menu for the reservation confirmation process.')">Book Now!</button>

            </form>

        </div>
    </div>
</div>

